<div class="header">
  <h1>Connexion</h1>
</div>

<form (submit)="connexion()" [formGroup]="connexionForm">
  <p>
<md-input-container>
    <input mdInput type="email" placeholder="Email" formControlName="email" />
    <span [hidden]="connexionForm.get('email').valid">
      You don't give a correct email
    </span>
</md-input-container>
  </p>

  <p>
<md-input-container dividerColor="red">
    <input mdInput type="password" placeholder="Password" formControlName="password" /> 
    <span [hidden]="connexionForm.get('password').valid">
       You have to give a password with a minimum of 8 characters
    </span>
</md-input-container>
  </p>

  <p>
    <button type="submit" [disabled]="!connexionForm.valid">Validate</button>
  </p>
</form>
